#top-menu {
  background-color: #C8252F; }
  #top-menu .call, #top-menu .email {
    text-decoration: none;
    color: #fff; }
    #top-menu .call:hover, #top-menu .email:hover {
      color: #000; }
  #top-menu .fa-facebook-f, #top-menu .fa-instagram, #top-menu .fa-linkedin-in {
    color: #fff; }
    #top-menu .fa-facebook-f:hover, #top-menu .fa-instagram:hover, #top-menu .fa-linkedin-in:hover {
      color: #000; }
